<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">
      jdbc:derby:/Users/ryanlazo/Desktop/bootcamp/projects/deep-dive-db-intro/db/scheduling
    </property>
    <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
    <mapping class="edu.cnm.deepdive.db.Event"/>
    <mapping class="edu.cnm.deepdive.db.Person"/>
    <mapping class="edu.cnm.deepdive.db.PersonEvent"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>